body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-image: url('https://thumbs.dreamstime.com/b/dents-du-midi-swiss-alps-35803298.jpg');
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;
}