h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
  }
  

  .card-alt {
    width: 100%;
    max-width: 300px;
  }
  
 
  .navbar .form-check-label {
    white-space: nowrap;
  }
  
 
  body {
    background-color: #2173c5; 
  }
